<div class="container">
  <mat-card class="welcome-card">
    <mat-card-title class="welcome-title">Bienvenido a SisCaSan</mat-card-title>
    <mat-card-content>
      <p class="welcome-text">
        Esta aplicación te permite gestionar el transporte de medicamentos mediante carros sanitarios.
        Puedes ver y crear solicitudes, crear carros y más...
      </p>
    </mat-card-content>
    <mat-card-actions class="welcome-actions">
      <a routerLink="/requests" mat-button color="primary">Ver Solicitudes</a>
      <a routerLink="/create" mat-button color="accent">Crear Solicitud</a>
      <a routerLink="/robot" mat-button color="accent">Ver Carros</a>
    </mat-card-actions>
  </mat-card>
</div>

  
