<div class="container">
  <mat-card class="welcome-card">
    <mat-card-title class="welcome-title">Bienvenido a la Gestión de Carritos Médicos</mat-card-title>
    <mat-card-content>
      <p class="welcome-text">
        Esta aplicación te permite gestionar el transporte de medicamentos mediante carritos médicos.
        Puedes realizar solicitudes, crear carritos y más.
      </p>
    </mat-card-content>
    <mat-card-actions class="welcome-actions">
      <a routerLink="/requests" mat-button color="primary">Ver Solicitud</a>
      <a routerLink="/robot" mat-button color="accent">Ver Carritos</a>
      <a routerLink="/create" mat-button color="accent">Crear solicitud</a>
    </mat-card-actions>
  </mat-card>
</div>

  
