<!-- solicitud.component.html -->
<mat-table [dataSource]="dataSource">
  <!-- Define the columns -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell *matCellDef="let element" title="{{element.id}}">{{element.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="route">
    <mat-header-cell *matHeaderCellDef>Destino</mat-header-cell>
    <mat-cell *matCellDef="let element" title="{{element.route}}">{{element.route}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="drugs">
    <mat-header-cell *matHeaderCellDef>Medicamentos</mat-header-cell>
    <mat-cell *matCellDef="let element" title="{{element.drugs}}">{{element.drugs}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="robot">
    <mat-header-cell *matHeaderCellDef>Carro Asociado</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-select [(value)]="element.robotId" (selectionChange)="onRobotSelected($event, element)">
        <mat-option *ngFor="let robot of robots" [value]="robot.id">
          {{robot.name}} <!-- Ajusta esto según la estructura de tu objeto robot -->
        </mat-option>
      </mat-select>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="accepted">
    <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
    <mat-cell *matCellDef="let element" title="{{element.accepted}}">{{ element.accepted ? 'Aceptado' : 'No aceptado' }}</mat-cell>
  </ng-container>


  <ng-container matColumnDef="accept">
    <mat-header-cell *matHeaderCellDef>Aceptar</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button title="Aceptar solicitud" (click)="acceptRequest(element.id)">
        <mat-icon>check</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  

  <ng-container matColumnDef="view">
    <mat-header-cell *matHeaderCellDef>Vista</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a mat-icon-button title="View/edit solicitud" routerLink="/request/{{element.id}}">
        <mat-icon>visibility</mat-icon>
      </a>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef>Eliminar</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button title="Delete solicitud" (click)="confirmDeletion(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
