<!-- robots.component.html -->
<mat-table [dataSource]="dataSource">
  <!-- Define las columnas -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell *matCellDef="let element" title="{{element.id}}">{{element.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
    <mat-cell *matCellDef="let element" title="{{element.name}}">{{element.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="estado">
    <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.estado ? 'Libre' : 'Ocupado' }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="desocupar">
    <mat-header-cell *matHeaderCellDef>Desocupar</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-raised-button color="warn" (click)="desocuparRobot(element.id)">
        Desocupar
      </button>
    </mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="view">
    <mat-header-cell *matHeaderCellDef>Vista</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a mat-icon-button title="View/edit robot" routerLink="/robot/{{element.id}}">
        <mat-icon>visibility</mat-icon>
      </a>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef>Eliminar</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button title="Delete robot" (click)="confirmDeletion(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>