<div class="container">
    <mat-card>
        <mat-card-title>
            <div *ngIf="create">Create Cuenta</div>
            <div *ngIf="!create">Edit Cuenta {{cuenta.id}}</div>
        </mat-card-title>
        
        <form class="create-model-form" #form="ngForm" (ngSubmit)="onSubmit(form.value)" autocomplete="off">
            <mat-form-field *ngIf="!create" class="full-width">
                <input matInput type="number"  disabled name="id" [(ngModel)]="cuenta.id">
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput type="number"  autofocus required placeholder="CCC"  name="ccc" [(ngModel)]="cuenta.ccc">
            </mat-form-field>
            <br>
            <mat-form-field class="full-width">
                <input matInput type="number" placeholder="Balance" required name="balance"  [(ngModel)]="cuenta.balance">
            </mat-form-field>
            <br>
            <div class="row-buttons">
                <span class="spacer"></span>
                <a (click)="back()" class="form-btn" mat-button>Go Back</a>
                <button type="submit" class="form-btn" [disabled]="form.invalid" mat-raised-button color="accent">
                <div *ngIf="create">Create</div>
                <div *ngIf="!create">Edit</div>
                </button>
            </div>          
        </form> 
    </mat-card>
</div>
